.finish-step {
  display: inline-block;
  margin: auto;
  text-align: left;
}
.finish-step li {
  list-style: none;
  padding: 10px;
}
.finish-step label {
  font-weight: bold;
  display: inline-block;
  width: 100px;
}
